.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.message{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}