
  .grid-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
    position: relative;
    padding: 2rem;
    font-family: 'Sora', sans-serif;
  }
  

  .grid-title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 40%;
    width: 20%;
    height: 4px;
    background-color: #FF6347;
    border-radius: 5px;
  }
  

  .featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  