.card-container {
    height: 30rem;
    width: 100%;
    max-width: 30rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-image img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
  
  .card-text {
    padding: 1rem;
    color: #333;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .category {
    font-size: 0.9rem;
    color: #555;
    margin-top: 0.5rem;
  }
  
  .price {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .view-detail-btn {
    margin: 1rem;
    padding: 0.6rem 0.5rem;
    font-size: 1rem;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    width: 40%;
    transition: background-color 0.3s;
    align-self: flex-end;
  }
  
  .view-detail-btn:hover {
    background-color: #800000
  }